#sankey {
    position: fixed;
    left: 5vh;
    right: 50vw;
    top: 30vh;
    bottom: 10vh;
}

#bar {
    fill: steelblue;
    position: fixed;
    left: 50vw;
    right: 10vh;
    top: 30vh;
    bottom: 10vh;
}

#yearfilter {
    position: fixed;
    left: calc(10vh + 20px);
    right: 10vh;
    top: 20vh;
    bottom: 10vh;
}

#selectors {
    position: fixed;
    left: calc(10vh + 20px);
    right: 10vh;
    top: calc(30vh - 50px);
    display: flex;
}

#selectors > span {
    padding: 0 10px;
}

#warning {
    color: firebrick;
}

.node rect {
    shape-rendering: crispEdges;
}

.node text {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    pointer-events: none;
    text-shadow: 0 0 5px #fff;
    opacity: 1;
}

.link {
    fill: none;
    /*  stroke: #000;*/
    stroke-opacity: .5;
}

.link:hover {
    stroke-opacity: 1;
}

table {
    width:15%;
    float: right;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: center;
  }