:root {
    --primary: white;
    --text: #ffb997;
    --secondary: #843b62;
    --accent: #f67e7d;
    --background: #233342;
    --lightbackground: #8AA8BC;
}

/*body*/
body {
    background: var(--background);
    position: static;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* padding: 50px; */
    /*font setting*/
    font-family: 'Mulish', sans-serif;
    color: var(--primary);
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
}


#CurrentPage {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#pageAll {
    width: 300vw;
    display: flex;
    margin-left: 0;
    transition: All 0.2s;
}

.page {
    width: 100vw;
    height: 100vh;
    padding: 40px;
}

#pageToggle {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px;
    display: flex;
    justify-content: center;
}

.pageButton {
    z-index: 100;
    border: none;
    height: 5px;
    width: 100px;
    margin: 10px;
    opacity: 0.3;
}

.pageButton > span {
    position: relative;
    top: -25px;
    color: white;
    opacity: 0;
}

.pageButton:hover,
.pageButton:hover > span{
    opacity: 1 !important;
    cursor: pointer;
}

.pageButton.active {
    opacity: 0.8;
    width: 200px;
}






/*assistive*/

#page1 {
    background: var(--background);
}
#page2 {
    background: var(--background);
}
#page3 {
    background: var(--background);
}

/*title*/
#title {
    height: 100px;
}

#title > h1 {
    font-weight: 800;
    margin-bottom: 0;
}

.question {
    font-size: 20px;
    font-style: italic;
    color: var(--accent);
}

/*container*/
.info {
    margin-top: 20px;
    height: 75vh;
}

/*background*/
.background {
    padding-right: 20px;
    border-right: dotted 1px var(--secondary);
    color: var(--text);
    height: 100%;
}

.background > h4 {
    color: var(--primary);
}

.pill {
    border: none;
    padding: 6px 16px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: var(--background);
    background: var(--primary);
}

.pill:hover {
    color: var(--primary);
    background: var(--accent);
}

.pill > select{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none !important;
}
/*correlation*/
.correlation {
    padding-left: 20px;
    height: 100%;
}

.sankeytitle {
    height: 80px;
}

#sankey {
    height: 100%;
    width: 100%;
}

.comparisons {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.subgraphs {
    height: 100%;
    width: 100%;
}

.subinfo {
    width: 200px;
    height: 100%;
    color: var(--primary);
    overflow-y: scroll;
}

#filter {
    display: flex;
    justify-content: space-between;
}

#yearRange {
    display: none;
}

#yearfilter {
    position: static;
    left: calc(10vh + 20px);
    right: 10vh;
    top: 20vh;
    bottom: 10vh;
}

#selectors {
    display: flex;
    justify-content: center;
    align-items: center;
}

#selectors > span {
    padding: 0 10px;
}

#warning {
    color: firebrick;
    max-width: 200px;
    height: 0;
    margin-top: -55px;
    text-align: right;
    margin-right: 5px;
}

.node rect {
    shape-rendering: crispEdges;
}

.node text {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    pointer-events: none;
    text-shadow: 0 0 5px #fff;
    opacity: 1;
}

.sankeylink {
    fill: none;
    /*  stroke: #000;*/
    stroke-opacity: .5;
}

.link:hover {
    stroke-opacity: .3;
}

/* Geo sub graph */
.geo-sub {
    height: 77vh;
    width: calc(100% - 15px);
}

#calimap {
    height: 77vh;
    width: 73vh;
}

.calimapcontainer {
    display: flex;
    justify-content: center;
}